PORT=10000
FIREBASE_DATABASE_URL=https://mycity-video-story.firebaseio.com
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"..."}
MYCITY_ENDPOINT_KEY=replace-with-a-long-random-secret
MYCITY_USER_ID=629388
MYCITY_USER_NAME=my city
MYCITY_USER_AVATAR=https://userstorage.ww-api.com/userpict/storage/v1/2817182/img/1755398780174_29/image62938842324881721979097225.jpg/
ALLOW_PUBLISH=false
ALLOW_PUBLIC_RTDB_FALLBACK=false
